<div class="mx-auto w-50 rounded text-white bg-dark p-2" >
  <h1 class="p-3 mb-1">Informações dos cursos</h1>
  <table class="table table-hover table-dark mb-1">
    <thead class="thead-dark">
      <tr>
        <th>Curso</th>
        <th>Carga Horária</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dadosCurso[0].curso}}</td>
        <td>{{dadosCurso[0].cargaHoraria}}</td>
      </tr>
      <tr>
        <td>{{dadosCurso[1].curso}}</td>
        <td>{{dadosCurso[1].cargaHoraria}}</td>
      </tr>
      <tr>
        <td>{{dadosCurso[2].curso}}</td>
        <td>{{dadosCurso[2].cargaHoraria}}</td>
      </tr>
      <tr>
        <td>{{dadosCurso[3].curso}}</td>
        <td>{{dadosCurso[3].cargaHoraria}}</td>
      </tr>
    </tbody>
  </table>
</div>
